body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.container_main_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.container_main_header{
    font-size: 2.5em;
    color: white;
}
.main_boxes_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.main_box{
    background-image: url("img/changed.png");
    background-size: cover;
    min-width: 400px;
    min-height: 600px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_box_header{
    height: 80%;
}
.main_box_price{
    align-self: flex-end;
    border-radius: 100%;
   width: fit-content;
   height: fit-content;
   padding: 5px;
   color: white;
    background-color: skyblue;
}
.main_box_price:nth-of-type(1){
    background-color: skyblue;
}
.main_box_price:nth-of-type(4){
    background-color: maroon;
}
.main_box_price:nth-of-type(3){
    background-color: gray;
}

.main_box_descr{
    color: white;
    font-size: 1em;
}
.main_box_descr a {
    cursor: pointer;
    color: blue;
    border-bottom:  3px dotted blue;
}
.main_box_title{
    color: gray;
    font-size: 1.2em;
}
.main_box_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.main_title_descr{
    font-size: 3em;
    max-width: 200px;
}

.fade{
    opacity: 0.5;
    border: 4px solid gray;
}
.blueborder{
    opacity: 1;
    border: 4px solid skyblue;
}
.redborder{
    opacity: 1;
    border: 4px solid  red;
}
.greenborder{
    opacity: 1;
    border: 4px solid yellowgreen;
}
